#loading_container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100px;
  width: 700px;
  overflow: hidden;
}

#logo_svg {
  height: 44px;
  margin-top: 4px;
}

#logo_svg_loading {
  height: 100px;
  overflow: hidden;
}

#middle_line {
  /* transition: .5s; */
  animation: wiggle_line .5s ease-in-out alternate infinite;
}

#upper_circle {
  animation: wiggle_upper .5s ease-in-out alternate infinite;
}

#lower_circle {
  animation: wiggle_lower .5s ease-in-out alternate infinite;
}

#middle_line_icon {
  /* transition: .5s; */
  animation: wiggle_line .5s ease-in-out alternate 6;
}

#upper_circle_icon {
  animation: wiggle_upper .5s ease-in-out alternate 6;
}

#lower_circle_icon {
  animation: wiggle_lower .5s ease-in-out alternate 6;
}


@keyframes wiggle_line {
  0% {
  }
  100% {
    d: path(
      "M172.198,109.242,c-1.052,0.283-2.151,0.448-3.293,0.448c-7.01,0-12.692-5.682-12.692-12.69c0-7.008-5.682-12.692-12.689-12.692,S130.832,89.992,130.832,97v38.072c0,7.009-5.682,12.69-12.689,12.69c-7.01,0-12.692-5.682-12.692-12.69V58.93,c0-7.011-5.682-12.692-12.689-12.692c-7.01,0-12.692,5.682-12.692,12.692V97c0,7.009-5.681,12.69-12.689,12.69,c-7.011,0-12.692-5.682-12.692-12.69c0-7.008-5.681-12.692-12.689-12.692c-1.142,0-2.241,0.167-3.296,0.448"
    );
  }
}

@keyframes wiggle_upper {
  0% {
    fill: #B76B91;
  }
  49% {
    fill: #B76B91
  }
  50% {
    fill: #549A94;
  }
  100% {
    d: path(
      "M105.45,164.871c-37.485,0-67.871-30.387-67.871-67.871c0-4.183,0.396-8.268,1.123-12.244,c1.055-0.281,2.154-0.448,3.296-0.448c7.008,0,12.689,5.685,12.689,12.692c0,7.009,5.682,12.69,12.692,12.69,c7.008,0,12.689-5.682,12.689-12.69V58.93c0-7.011,5.682-12.692,12.692-12.692c7.008,0,12.689,5.682,12.689,12.692v76.143,c0,7.009,5.682,12.69,12.692,12.69c7.008,0,12.689-5.682,12.689-12.69V97c0-7.008,5.684-12.692,12.692-12.692,S156.213,89.992,156.213,97c0,7.009,5.682,12.69,12.692,12.69c1.142,0,2.241-0.165,3.293-0.448,C166.432,140.881,138.751,164.871,105.45,164.871z"
    );
    fill: #549A94
  }
}

@keyframes wiggle_lower {
  0% {

    fill: #549A94
  }
  49% {
    fill: #549A94
  }
  50% {
    fill: #B76B91;
  }
  100% {
    fill: #B76B91;
    d: path(
      "M156.213,97c0-7.008-5.682-12.692-12.689-12.692S130.832,89.992,130.832,97v38.072,c0,7.009-5.682,12.69-12.689,12.69c-7.01,0-12.692-5.682-12.692-12.69V58.93c0-7.011-5.682-12.692-12.689-12.692,c-7.01,0-12.692,5.682-12.692,12.692V97c0,7.009-5.681,12.69-12.689,12.69c-7.011,0-12.692-5.682-12.692-12.69,c0-7.008-5.681-12.692-12.689-12.692c-1.142,0-2.241,0.167-3.296,0.448c5.766-31.638,33.446-55.627,66.748-55.627,c37.483,0,67.871,30.386,67.871,67.871c0,4.183-0.398,8.27-1.123,12.242c-1.052,0.283-2.151,0.448-3.293,0.448,C161.895,109.69,156.213,104.009,156.213,97z"
    );
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#p_line,
#u_line,
#l_line,
#s_line,
#e_line,
#e_nub_line {
  stroke-dashoffset: 0;
  stroke-dasharray: 200 300;
  transition: .5s ease-in-out;
  stroke: white;
  pointer-events: none;
  animation: letter_pulse 4.5s linear;
}

@keyframes letter_pulse {
  0% {
    stroke-dashoffset: 200;
    stroke-dasharray: 200 300;
    stroke-width: 0px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 200 300;
    stroke-width: 15px;
  }
}

.votedSticker {
  width: 60px;
  position: absolute;
  right: 42px;
  bottom: -30px;
  transform: rotate(30deg);
  animation: sticker_stick .8s ease-in;
}

@keyframes sticker_stick {
  0% {
    opacity: 0;
    transform: scale(2) rotate(30deg);
  }
  80% {
    opacity: 1;
    transform: scale(1) rotate(30deg);
  }
  90% {
    opacity: 1;
    transform: scale(.85) rotate(30deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(30deg);
  }
}
