#loading_container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100px;
  width: 700px;
  overflow: hidden;
}

#logo_svg {
  height: 44px;
  margin-top: 4px;
  width: fit-content;
}

#logo_svg_loading {
  height: 100px;
  overflow: hidden;
}

#middle_line {
  /* transition: .5s; */
  animation: wiggle_line .5s ease-in-out alternate infinite;
}

#upper_circle {
  animation: wiggle_upper .5s ease-in-out alternate infinite;
}

#lower_circle {
  animation: wiggle_lower .5s ease-in-out alternate infinite;
}

#middle_line_icon {
  /* transition: .5s; */
  animation: wiggle_line .5s ease-in-out alternate 6;
}

#upper_circle_icon {
  animation: wiggle_upper .5s ease-in-out alternate 6;
}

#lower_circle_icon {
  animation: wiggle_lower .5s ease-in-out alternate 6;
}


@keyframes wiggle_line {
  0% {
  }
  100% {
    d: path(
      "M172.198,109.242,c-1.052,0.283-2.151,0.448-3.293,0.448c-7.01,0-12.692-5.682-12.692-12.69c0-7.008-5.682-12.692-12.689-12.692,S130.832,89.992,130.832,97v38.072c0,7.009-5.682,12.69-12.689,12.69c-7.01,0-12.692-5.682-12.692-12.69V58.93,c0-7.011-5.682-12.692-12.689-12.692c-7.01,0-12.692,5.682-12.692,12.692V97c0,7.009-5.681,12.69-12.689,12.69,c-7.011,0-12.692-5.682-12.692-12.69c0-7.008-5.681-12.692-12.689-12.692c-1.142,0-2.241,0.167-3.296,0.448"
    );
  }
}

@keyframes wiggle_upper {
  0% {
    fill: #B76B91;
  }
  49% {
    fill: #B76B91
  }
  50% {
    fill: #549A94;
  }
  100% {
    d: path(
      "M105.45,164.871c-37.485,0-67.871-30.387-67.871-67.871c0-4.183,0.396-8.268,1.123-12.244,c1.055-0.281,2.154-0.448,3.296-0.448c7.008,0,12.689,5.685,12.689,12.692c0,7.009,5.682,12.69,12.692,12.69,c7.008,0,12.689-5.682,12.689-12.69V58.93c0-7.011,5.682-12.692,12.692-12.692c7.008,0,12.689,5.682,12.689,12.692v76.143,c0,7.009,5.682,12.69,12.692,12.69c7.008,0,12.689-5.682,12.689-12.69V97c0-7.008,5.684-12.692,12.692-12.692,S156.213,89.992,156.213,97c0,7.009,5.682,12.69,12.692,12.69c1.142,0,2.241-0.165,3.293-0.448,C166.432,140.881,138.751,164.871,105.45,164.871z"
    );
    fill: #549A94
  }
}

@keyframes wiggle_lower {
  0% {

    fill: #549A94
  }
  49% {
    fill: #549A94
  }
  50% {
    fill: #B76B91;
  }
  100% {
    fill: #B76B91;
    d: path(
      "M156.213,97c0-7.008-5.682-12.692-12.689-12.692S130.832,89.992,130.832,97v38.072,c0,7.009-5.682,12.69-12.689,12.69c-7.01,0-12.692-5.682-12.692-12.69V58.93c0-7.011-5.682-12.692-12.689-12.692,c-7.01,0-12.692,5.682-12.692,12.692V97c0,7.009-5.681,12.69-12.689,12.69c-7.011,0-12.692-5.682-12.692-12.69,c0-7.008-5.681-12.692-12.689-12.692c-1.142,0-2.241,0.167-3.296,0.448c5.766-31.638,33.446-55.627,66.748-55.627,c37.483,0,67.871,30.386,67.871,67.871c0,4.183-0.398,8.27-1.123,12.242c-1.052,0.283-2.151,0.448-3.293,0.448,C161.895,109.69,156.213,104.009,156.213,97z"
    );
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#p_line,
#u_line,
#l_line,
#s_line,
#e_line,
#e_nub_line {
  stroke-dashoffset: 0;
  stroke-dasharray: 200 300;
  transition: .5s ease-in-out;
  stroke: white;
  pointer-events: none;
  animation: letter_pulse 4.5s linear;
}

@keyframes letter_pulse {
  0% {
    stroke-dashoffset: 200;
    stroke-dasharray: 200 300;
    stroke-width: 0px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 200 300;
    stroke-width: 15px;
  }
}

.votedSticker {
  width: 60px;
  position: absolute;
  right: 42px;
  bottom: -30px;
  transform: rotate(30deg);
  animation: sticker_stick .8s ease-in;
}



@keyframes sticker_stick {
  0% {
    opacity: 0;
    transform: scale(2) rotate(30deg);
  }
  80% {
    opacity: 1;
    transform: scale(1) rotate(30deg);
  }
  90% {
    opacity: 1;
    transform: scale(.85) rotate(30deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(30deg);
  }
}

/* bpm symbol  */

#bpm_svg_animate > path {
  /* animation: wiggle_bpm .5s ease-in-out alternate infinite; */
  animation: wiggle_bpm .5s ease-in-out alternate infinite;
}

@keyframes wiggle_bpm {
  0% {
  }
  100% {
    d: path(
	"M51.345,153.596c3.341,3.339,7.956,5.405,13.052,5.405c10.192,0,18.46-8.265,18.46-18.456c0-10.19-8.268-18.46-18.46-18.46h-34.6,c-10.195,0-18.458-8.263-18.458-18.454c0-10.197,8.263-18.461,18.458-18.461h34.603c10.195,0,18.457-8.264,18.457-18.461,c0-10.192-8.262-18.455-18.457-18.455H29.799c-10.192,0-18.458-8.269-18.458-18.46s8.266-18.456,18.458-18.456h-0.001,c5.097,0,9.711,2.066,13.052,5.406"
    );
  }
}

/* @keyframes pulse_bpm {
  0% {
    stroke-dashoffset: 100;
    stroke-dasharray: 1000 200;
  }
  100% {
    stroke-dashoffset: -700;
    stroke-dasharray: 1000 200;
  }
} */


.bpmCoin {
  width: 60px;
  position: absolute;
  right: 262px;
  bottom: 229px;
  opacity: 0;
}

#coin1 {
  offset-path: path('M250,250c0,0,23.916-38.743,79.782-38.743,S470.006,271.983,468.33,500');
  animation: coin_1 1.3s ease-out;
}
#coin2 {
  offset-path: path('M250.002,249.589c0,0,4.017-115.643,19.66-63.688,s43.574,220.67,43.574,279.889');
  animation: coin_2 1.3s ease-out;
}
#coin3 {
  offset-path: path('M250,250c0,0-25-86.333-67.667-3s-41.511,228-41.511,228');
  animation: coin_3 1.3s ease-out;
}
#coin4 {
  offset-path: path('M250.002,249.589c0,0,111.664-191.255,132.331,222.078');
  animation: coin_4 1.3s ease-out;
}
#coin5 {
  offset-path: path('M250.002,249.589C250.002,249.589,223,31,213,500');
  animation: coin_5 1.3s ease-out;
}
#coin6 {
  offset-path: path('M250,250c0,0,23.916-38.743,79.782-38.743,S470.006,271.983,468.33,500');
  animation: coin_6 1.3s ease-out;
}

@keyframes coin_1 {
  0% {
    opacity: 1;
    transform: scale(.4);
    offset-distance: 0%;
  } 100% {
    opacity: 0;
    transform: scale(1.4);
    offset-distance: 100%;
  }
}
@keyframes coin_2 {
  0% {
    opacity: 1;
    transform: scale(.4);
    offset-distance: 0%;
  } 100% {
    opacity: 0;
    transform: scale(1.4);
    offset-distance: 100%;
  }
}
@keyframes coin_3 {
  0% {
    opacity: 1;
    transform: scale(.4);
    offset-distance: 0%;
  } 100% {
    opacity: 0;
    transform: scale(1.4);
    offset-distance: 100%;
  }
}
@keyframes coin_4 {
  0% {
    opacity: 1;
    transform: scale(.4);
    offset-distance: 0%;
  } 100% {
    opacity: 0;
    transform: scale(1.4);
    offset-distance: 100%;
  }
}
@keyframes coin_5 {
  0% {
    opacity: 1;
    transform: scale(.4);
    offset-distance: 0%;
  } 100% {
    opacity: 0;
    transform: scale(1.4);
    offset-distance: 100%;
  }
}
@keyframes coin_6 {
  0% {
    opacity: 1;
    transform: scale(.4);
    offset-distance: 0%;
  } 100% {
    opacity: 0;
    transform: scale(1.4);
    offset-distance: 100%;
  }
}
