.pollDisplayDiv {
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 100px;
  width: 100%;
  max-width: 700px;
  flex-shrink: .5;
  background-color: #539A94;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, .3);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, .2);
  color: rgb(218, 224, 230);
  /* background-image: url("../../images/splash_background_mk2.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-image: linear-gradient(-20deg, #539A94, #539A94, rgba(255, 255, 255, .2), #539A94, #539A94);

}

.pollDisplayDivFeed {
  margin-top: 10px;
  /* margin-bottom: 8px; */
  min-height: 100px;
  width: 100%;
  max-width: 700px;
  flex-shrink: .5;
  background-color: #539A94;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, .3);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, .2);
  color: rgb(218, 224, 230);
  /* background-image: url("../../images/splash_background_mk2.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-image: linear-gradient(-20deg, #539A94, #539A94, rgba(255, 255, 255, .2), #539A94, #539A94);
}

.pollDisplayTopBar {
  width: 100%;
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
}

.pollDisplayUsername {
  color: #003B31;
  font-size: 1.1em;
}

.pollDisplayVotesNum {
  color: rgb(218, 224, 230);
  font-size: 1.1em;
}

.pollDisplayText {
  width: 100%;
  padding: 4px 12px;
}

.pollTitle {
  color: rgb(218, 224, 230);
  font-size: 1.6em;
  overflow-wrap: break-word;

}

.pollDescription {
  margin-top: 8px;
  color: #003B31;
  font-size: 1.1em;
  overflow-wrap: break-word;
  width: 100%;
  transition:max-height 1s ease-out;
}

.truncateBlock {
  /* max-height: 100px; */
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */
  line-height: 1.1em;
  /* max-height = line-height (1.1) * lines max number (3) */
  max-height: 4.4em;
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
}

/* create the ... */
.truncateBlock::before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}

/* hide ... if we have text, which is less than or equal to max lines */
.truncateBlock::after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background-color: #539A94;
  color: transparent;
}


.moreTextBar {
  display: flex;
  justify-content: center;
}

.moreText {
  margin-top: 4px;
  color: #8ED0B9;
  cursor: pointer;
}

.moreText:hover {
  color: #c2e9db;
}

.pollDisplayVoteBar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 500px;
  /* gap: 160px; */
  margin: 20px 10px;
}

.pollDisplayOptionOne {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #8ED0B9;
  color: #003B31;
  padding: 12px 20px;
  border: 1px solid rgba(0, 0, 0, .45);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, .1);
  /* border-radius: 3px; */
  border-radius: 40px;
  font-size: 1.2em;
  cursor: pointer;
  user-select: none;
  background-image: linear-gradient(#8ED0B9 ,#539A94);
}

.pollDisplayOptionOne:active {
  background-image: linear-gradient(#539A94, #8ED0B9);
}

.pollDisplayOptionTwo {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #DDB3D3;
  color: #680F3F;
  padding: 12px 20px;
  border: 1px solid rgba(0, 0, 0, .45);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, .1);
  /* border-radius: 3px; */
  border-radius: 40px;
  font-size: 1.2em;
  cursor: pointer;
  user-select: none;
  background-image: linear-gradient(#DDB3D3 ,#B76A91);
}

.pollDisplayOptionTwo:active {
  background-image: linear-gradient(#B76A91, #DDB3D3);
}

.voteBoxPink {
  width: 26px;
  height: 26px;
  background-color: #B76A91;
  border-radius: 50%;
  border: 2px solid #003B31;
  filter: drop-shadow(1px  1px rgba(255, 255, 255, .3));
}

.voteBoxGreen {
  width: 26px;
  height: 26px;
  background-color: #539A94;
  border-radius: 50%;
  border: 2px solid #680F3F;
  filter: drop-shadow(1px  1px rgba(255, 255, 255, .3));
}

.invisible {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.voteCheck {
  transition: .2s;
}

.pollDisplayOptionOne:hover > .voteBoxPink > .voteCheck {
  opacity: 1;
}

.pollDisplayOptionTwo:hover > .voteBoxGreen > .voteCheck {
  opacity: 1;
}

.pollDisplayOptionOne:active > .voteBoxPink > .voteCheck {
  transform: scale(.8);
}

.pollDisplayOptionTwo:active > .voteBoxGreen > .voteCheck {
  transform: scale(.8);
}

.pollDisplayBottomBar {
  width: 100%;
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
}

.pollDisplayCommentNum {
  background-color: #DDB3D3;
  color: #680F3F;
  padding: 4px 20px;
  border: 1px solid rgba(0, 0, 0, .3);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, .1);
  border-radius: 3px;
  font-size: 1.2em;
  cursor: pointer;
  user-select: none;
}

.pollDisplayCommentBlank {
  padding: 4px 20px;
  width: 150px;
  border-radius: 3px;
  font-size: 1.2em;
}

.submitVote {
  position: relative;
  background-color: #8ED0B9;
  color: #003B31;
  padding: 4px 20px;
  border: 1px solid rgba(0, 0, 0, .3);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, .1);
  border-radius: 3px;
  font-size: 1.2em;
  cursor: pointer;
  transition: .2s;
  user-select: none;
}

.submitVote:hover {
  background-color: #B76A91;
  color: #680F3F;
}

.submitVote:active {
  transform: scale(.9);
}

.cannotSubmitVote {
  position: relative;
  background-color: #818181 !important;
  color: #393939;
  padding: 4px 20px;
  border: 1px solid rgba(0, 0, 0, .3);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, .1);
  border-radius: 3px;
  font-size: 1.2em;
  pointer-events: none;
}

.votePercentageBar {
  width: 100%;
  height: 20px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 12px;

}

.optionOnePercent {
  background-color: #8ED0B9;
  width: 100%;
  height: 20px;
  border-right: 1px solid #003B31;
  border-left: 1px solid #003B31;
  border-top: 1px solid #003B31;
  border-bottom: 1px solid #003B31;
  border-radius: 10px 0px 0px 10px;
  display: flex;
  justify-content: center;
  color: #003B31;
  min-width: 30px;
  background-image: linear-gradient(#8ED0B9 ,#539A94);
}
.optionTwoPercent {
  background-color: #DDB3D3;
  width: 100%;
  height: 20px;
  border-right: 1px solid #680F3F;
  border-left: 1px solid #680F3F;
  border-top: 1px solid #680F3F;
  border-bottom: 1px solid #680F3F;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  justify-content: center;
  color: #680F3F;
  min-width: 30px;
  background-image: linear-gradient(#DDB3D3 ,#B76A91);
}


.editDiv {
  margin-top: 4px;
  color: #8ED0B9;
  cursor: pointer;
}

.editDiv:hover {
  color: #c2e9db;
}

.pollDeleteBar {
  display: flex;
  justify-content: center;
  gap: 100px;
  width: 100%;
  margin-bottom: 10px;
}

.deleteConfirmText {
  margin-bottom: 10px;
}

.optionOneText {
  font-size: 1.2em;
  font-weight: bold;
  filter: drop-shadow(2px  1px rgba(255, 255, 255, .5))
}

.optionTwoText {
  font-size: 1.2em;
  font-weight: bold;
  filter: drop-shadow(2px  1px rgba(255, 255, 255, .5));
}

.percentText {
  filter: drop-shadow(1px  1px rgba(255, 255, 255, .3));
}

.bpmValueDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c97ca2;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, .4);
  border-radius: 6px;
  padding: 4px 20px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1) ,rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
}

.bpmIcon {
  fill:rgba(0, 0, 0, .1);
  filter: drop-shadow(-1px  -1px rgba(0, 0, 0, 0.3));
}

.bpmDisplayText {
  color: white;
  font-size: 1em;
  filter: drop-shadow(-1px  -1px rgba(0, 0, 0, 0.3));
}

.bpmDisplayTextDark {
  margin-left: 4px;
  color: #ffffff;
  font-size: .7em;
  filter: drop-shadow(-1px  -1px rgba(0, 0, 0, 0.3));
}
