@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}

html {
  /* background-image: linear-gradient(-45deg, #B76A91 ,#539A94); */
  /* background-image: linear-gradient(-45deg, rgba(183, 106, 145, .3) ,rgba(83, 154, 148, .3)); */
  /* background-image: linear-gradient(rgba(255, 255, 255, .07) ,rgb(0, 0, 0, .2)); */
  /* background-image: linear-gradient(#363D44 ,#242b32); */
  background-color: #363D44;
  padding: 100px 0 0;
  /* padding-left: calc(100vw - 100%); */

}

body {
  position: relative;
  margin: 0px;
  padding: 0px;
  /* padding-left: calc(100vw - 100%); */
}

/* #root {
  position: relative;
  margin: 0;
  padding: 50px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
   scroll-margin-top: 40px;
} */

#root {
  position: relative;
  margin: 0;
  padding: 50px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
   scroll-margin-top: 40px;
}

#mainContainerDiv {
  width: 100%;
  max-width: 1200px;
  display: flex;
  height: 100%;
  justify-content: center;
  padding-left: calc(100vw - 100%);
}

a {
  text-decoration: none;
}

a:hover {
  color: #539A94;
}

ul {
  text-align: center;
  padding-left: 0px;

}

li {
  list-style: none;
}

button {
  cursor: pointer;
  transition: .2s;
  border: none;
}

button:active{
  transform: scale(.95);
}

.pinkButton {
  background-color: #B76A91;
  border: 1px solid rgba(0, 0, 0, .3);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, .2);
  color: rgb(218, 224, 230);
  border-radius: 3px;
  padding: 6px 10px;
  font-size: 1em;
}

.pinkButton:hover {
  background-color: #b44c80;
}

.greenButton {
  background-color: #539A94;
  border: 1px solid rgba(0, 0, 0, .3);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, .2);
  color: rgb(218, 224, 230);
  border-radius: 3px;
  padding: 6px 10px;
  font-size: 1em;
}

.greenButton:hover {
  background-color: #2a8b85;
}

.errorText {
  color: #DDB3D3;
  max-width: 100%;
  padding: 4px 0px;
  max-width: 90%;
}

.errorList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loadingContainer{
  min-height: calc(100vh - 160px);
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  margin: 10px;
  width: 60%;
  min-width: 300px;
  background-color: #363D44;
  color: rgb(218, 224, 230);
  border: 1px solid rgba(0, 0, 0, .12);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, .1);
}

textarea {
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  margin: 10px;
  width: 60%;
  min-width: 300px;
  background-color: #363D44;
  color: rgb(218, 224, 230);
  border: 1px solid rgba(0, 0, 0, .12);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, .1);
  resize: vertical;
}

.active {
  border-right: 4px solid white;
}

::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  /* height: 10px !important; */
  width: 12px !important;
}

::-webkit-scrollbar-thumb {
  background: #a3a3a3;
  border-radius: 20px;
  /* -webkit-box-shadow: inset 0 0 5px rgb(93, 166, 255); */
}

::-webkit-scrollbar-track {
  /* background-color: rgba(62, 62, 62, 0.5); */
  margin-top: 40px;
}

.profileIcon {
  border-radius: 10px;
  width: 37px;
  height: 37px;
  background-color: transparent;
}

.profileIconLarge {
  border-radius: 10px;
  width: 110px;
  height: 110px;
  background-color: transparent;
}
