#splashMainContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#splashBackground {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background-image: linear-gradient(-45deg, #B76A91, #B76A91,#539A94, #539A94);
}

#splashTopBar {
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: fit-content;
}

#splashTopBar > a {
  color: white;
}

#logInSplash {
  background-color: #B76A91;
  padding: 5px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, .4);
  border-radius: 6px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1) ,rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  cursor: pointer;
}

#logInSplash:hover {
  background-color: #b4497e;
}

#signUpSplash {
  background-color: #539A94;
  padding: 5px 10px;
  background-color: #5ec3b1;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, .4);
  border-radius: 6px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1) ,rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  cursor: pointer;
}

#signUpSplash:hover {
  background-color: #26b2a6;
}

#splashTopText {
  margin-top: 40px;
  font-size: 3.5em;
  color: white;
}

#splashMidText {
  margin-top: 5px;
  font-size: 1.3em;
  color: white;
}

#splashPollDisplay {
  width: 700px;
  display: flex;
  justify-content: center;
}

.aboutFooter {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #495151;
  height: 70px;
  border-top: 1px solid rgba(0, 0, 0, .3);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, .2);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.creatorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.creator_name {
  display: flex;
  justify-content: center;
}

.git_link_container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 5px;
}

.image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  margin-top: 5px;
  height: 35px;
}

.image_container > img {

}

#icon_container {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  height: 30px;
}

.spacerDivVert {
  background-color: #363D44;
  width: 2px;
  border-radius: 1px;
  height: 90%;
}
