.titleBar {
  position: relative;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #495151;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, .3);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, .2);
}

.titleText {
  font-size: 1.8em;
  color: rgb(218, 224, 230);
}

#editButton {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 10px;
  margin-bottom: 8px;
  background-color: grey;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, .3);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, .2);
  color: rgb(218, 224, 230);
  cursor: pointer;
}
