#commentContainer {
  padding-bottom: 20px;
}

.singleCommentContainer {
  background-color: #141616;
  border: 1px solid #495151;
  border-radius: 3px;
  margin-top: 6px;
  padding: 8px 8px 8px 28px;
}

.commentUser {
  color: rgb(163, 170, 177);
  display: flex;
  align-items: center;
  gap: 4px;

}

.commentUserBar {
  display: flex;
  gap: 4px;
  margin-left: -20px;
  margin-bottom: 4px;
}

.expander {
  color: #495151;
  cursor: pointer;
}

.expander:hover {
  color: rgb(163, 170, 177);
}

.collapsed {
  color: #495151;
}

.commentText {
  color: rgb(218, 224, 230);
  overflow-wrap: break-word;
}

#createCommentDiv {
  margin-top: 8px;
  min-height: 100px;
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(218, 224, 230);
}

#createCommentForm {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

#lightLabel {
  margin-left: 10px;
  margin-top: 6px;
}

#darkLabel {
  margin-left: 10px;
  margin-top: 6px;
  color: rgb(124, 131, 138)
}

#commentInput {
  width: 97% !important;
  min-height: 50px;
}

#commentButtonBar {
  width: 97%;
  margin: 0px 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.commentBottomBar {
  display: flex;
  justify-content: space-around;
  margin-top: 4px;
}

.commentReply {
  font-size: .8em;
  color: #495151;
  font-weight: bold;
  cursor: pointer;
}

.commentReply:hover {
  color: rgb(124, 131, 138);
}

.commentDeleteConfirmText {
  color: rgb(124, 131, 138);
  text-align: center;
  padding: 6px;
}

#editCommentLabel {
  color: rgb(124, 131, 138);
  margin-left: 10px;
}

#commentHeader {
  background-color: #495151;
  margin-top: 10px;
  margin-bottom: -8px;
  padding: 4px 10px;
  border-radius: 3px 3px 0px 0px ;
}

#maxLengthComment {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 12px;
  margin-top: 10px;
  color: white;
}
