#commentContainer {
  padding-bottom: 20px;
}

.singleCommentContainer {
  background-color: #141616;
  border: 1px solid #495151;
  border-radius: 3px;
  margin-top: 6px;
  padding: 8px 8px 8px 18px;
}

.commentUser {
  color: rgb(163, 170, 177);
}

.commentText {
  color: rgb(218, 224, 230);
  overflow-wrap: break-word;
}

#createCommentDiv {
  margin-top: 8px;
  min-height: 100px;
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(218, 224, 230);
}

#createCommentForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

#commentLabel {
  margin-left: 10px;
  margin-top: 6px;
}

#commentInput {
  width: 97% !important;
  min-height: 50px;
}

#commentButtonBar {
  width: 97%;
  margin: 0px 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.commentBottomBar {
  display: flex;
  justify-content: space-around;
  margin-top: 4px;
}

.commentReply {
  font-size: .8em;
  color: #495151;
  font-weight: bold;
  cursor: pointer;
}

.commentReply:hover {
  color: rgb(124, 131, 138);
}
