body,html {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
* {
  box-sizing: border-box;
}


.formDiv {
  margin-top: 8px;
  min-height: 100px;
  max-width: 500px;
  background-color: #495151;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, .3);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, .2);
  color: rgb(218, 224, 230);
  font-size: 1em;
}

textarea:focus, input:focus{
  outline: none;
}


#loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  min-width: 300px;
  margin-bottom: 16px;
}
