.navBar {
  width: 100%;
  background-color: #495151;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, .2);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.navContent {
  display: flex;
  max-width: 100%;
  justify-content: space-around;
  align-items: center;
  margin: 0px 20px;
}

.navContainer {
  width: 100%;
}

.loginLinks {
  display: flex;
}


.loginText, .homeText {
margin: 0px 10px;
background-color: rgb(0, 46, 75);
padding: 10px 20px;
border-radius: 10px;
text-decoration: none;
font-weight: bold;
color: white;
}

.profile-dropdown {
  background-color: #495151;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, .2);
  position: fixed;
  right: 0px;
  top: 40px;
  padding: 10px 20px;
  border-radius: 0px 0px 3px 3px;
  color: white;
}

.profile-dropdown > li {
  margin-top: 10px;
}

#logoutButton {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #B76A91;
  border: 1px solid rgba(0, 0, 0, .3);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, .2);
  color: rgb(218, 224, 230);
  transition: .2s;
}

#logoutButton:hover {
  background-color: #b44c80 !important;
}



#logoutButton:hover{
  background-color: rgb(208, 208, 208)
}

#logoutButton:active{
  transform: scale(.9);
}

#profileButton {
  /* padding: 0px 20px; */
  /* margin: 0px 10px; */
  background-color: transparent;
  color: rgb(208, 208, 208);
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: fit-content;
  gap: 6px;
  margin-bottom: 2px;
  cursor: pointer;
  user-select: none;
}
